body {
  font-family: Arial, sans-serif;
  background: #f7f7f7;
  margin: 0;
}

.container {
  max-width: 900px;
  margin: auto;
  background: white;
  padding: 20px;
  margin-top: 30px;
  border-radius: 8px;
}

input, button {
  padding: 10px;
  margin: 8px 0;
  width: 100%;
}

button {
  background: #6c63ff;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  opacity: 0.9;
}
